@{
    ViewBag.Title = "Adminindex";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}

<div>

    <img src="/Product_images/banner-shop.jpg" style="width:1500px; height:400px; align-content:center;" />



</div>
