@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>check_for_orders</title>
</head>
<body>
    <table align="center" style="color:red;text-align:center">
        <tr>
            <td>
                <h2>  Sry No Orders To Display</h2>
                <br />
                <br />
                <br />
                <br />

            </td>
        </tr>


        

    </table>

</body>
</html>
