@{
    ViewBag.Title = "deletefromcart";
    Layout = "~/Views/Shared/customer_layout.cshtml";
}


<table align="center" style="color:red;text-align:center">
    <tr>
        <td>
            <h2>   Thr product  is Deleted Successfully from the cart</h2>
            <br />
            <br />
            <br />
            <br />

        </td>
    </tr>


    <tr>
        <td align="center" style="align-content:center;font-size:x-large;color:blue;">


            @Html.ActionLink("Back to Products", "Showproductslist_cust")

        </td>
    </tr>

</table>

