@{
    ViewBag.Title = "Deliveryindex";
    Layout = "~/Views/Shared/delivery_layout.cshtml";
}

<div>

    <img src="/Product_images/banner-shop.jpg" style="width:1800px; height:350px; align-content:center;" />



</div>
