@{
    ViewBag.Title = "Ordercompleted";
    Layout = "~/Views/Shared/delivery_layout.cshtml";
}
<!DOCTYPE html>


<h2>Delivery Status</h2>





<table align="center" style="font-size:30px;color:green;font-family:'Microsoft Himalaya';align-content:center">

 
    <tr>
        <td>
            <br />
            <br />
            <br />
        </td>
        


        <td style="font-size:xx-large;color:red">


            @ViewBag.orderdelivery_status

        </td>
    </tr>
</table>



