@model mvc_shopping_mainproject.Models.statusModel

<fieldset>
    <legend>statusModel</legend>

   
    <div class="display-label">
         @Html.DisplayNameFor(model => model.orderstatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderstatus)
    </div>
</fieldset>

